<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfZGf8CfXIGCgIUo8FwUR8HmdGfUk5oPw</string>
	<key>GCM_SENDER_ID</key>
	<string>332591432060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footballScoreApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>footballapp-5ee50</string>
	<key>STORAGE_BUCKET</key>
	<string>footballapp-5ee50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332591432060:ios:1e7ddf610e61b6f002e4f9</string>
</dict>
</plist>